# Build outputs
build/
*.o
*.elf
*.img
*.iso
*.mpk
*_mpk.cpp
*.bin
mpk_assets.h
libmorphic_gui.a

# ISO temporary directory
iso_root/

# noVNC
tools/noVNC/

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
*.tmp
*.pid

# Debug symbols
*.dSYM/
